.input{
    background-color: #323232;
    height: 50px;
    width: 60%;
    border-radius: 8px;
    border: none;
    font-size: 28px;
    color: whitesmoke;
    letter-spacing: 5px;
    text-align: left;
    cursor: pointer;
    padding: 0 0 0 70px;
    

}




.active{
    background: #0077ff;
}

.actionButtonWrap{
    margin-top: 40px;

}